@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default theme (light mode) */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
}

/* Dark mode theme */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

/* Apply colors */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rdp-responsive .rdp-months {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .rdp-responsive .rdp-months {
    flex-direction: row;
  }
}

.parent-container {
  overflow: visible !important;
}
